dill==0.3.5.1
platformdirs==2.5.2
astroid==2.11.6
isort==5.10.1
mccabe==0.7.0
tomli==2.0.1
tomlkit==0.11.4
typing_extensions==4.3.0
pylint==2.14.5
poetry-core==1.0.0
flit_core==3.7.1
hatchling==1.8.0
hatch-vcs==0.2.0
hatch-fancy-pypi-readme==22.3.0
jupyter==1.0.0
jupyter_packaging==0.12.2
ptvsd==4.3.2
jedi==0.17.2
ipykernel==6.15.1
wrapt==1.14.1
python-language-server==0.36.1